# /etc/systemd/system/meteor.service
# Use this version for PawPrints releases <=1.2.0.

[Unit]
Description=SystemD startup script for meteor
After=mongod.service

[Service]
ExecStart=/bin/sh -c "/bin/node /var/www/petitions/main.js"
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=meteor
User=nginx
Environment=NODE_ENV=production LDAP_URL=ldaps://ldap.rit.edu MAIL_URL=smtp://username@main.ad.rit.edu:password@mymail.ad.rit.edu:587 METEOR_SETTINGS={"public":{"ga":{"account":"UA-XXXXXXXX-Y"}}} MONGO_URL=mongodb://username:password@127.0.0.1:27017/pawprints PORT=4006 ROOT_URL=http://localhost

[Install]
WantedBy=multi-user.target
